{% extends "base.html" %}

{% block title %}Login to MyDict{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="login_wraper">
        {% if error %}
            <div class="alert alert-error"><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></div>
        {% endif %}
        {% if not user.is_authenticated %}
            <form class="form-signin" method="POST" action="{% url "login" %}">{% csrf_token %}
                <legend>Sign in to <span class="blue">MyDict</span></legend>
                <div class="body">
                {% for input in loginform %}
                    {{ input }}
                {% endfor %}
                </div><!-- div.body -->
                <div class="footer">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="remember_me"><!--
                        --> Remember me
                    </label>
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </div> <!-- div.footer -->
            </form>
        {% endif %}
        </div> <!-- div#login_wraper -->
    </div> <!-- /container-fluid -->
{% endblock %}
{% block footer %}
      Don't have an account yet? <a href="{% url "create_account" %}" class="btn btn-black">Register</a>
{% endblock %}
{% block js_import %}
    {% load static %}
    <script type="text/javascript">
      jQuery(function($) {
          $('.carousel').carousel({
            interval: 4000
          });
          $.backstretch([
            "{% static 'images/abstract1.jpg' %}",
            "{% static 'images/abstract3.jpg' %}",
            "{% static 'images/nature2.jpg' %}",
        ], {duration: 3000, fade: 750});
      });
    </script>
{% endblock %}
