{% extends "base.html" %}

{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="alert alert-info span6 offset3">
                <div class="row-fluid">
                    <h4>E-mail sent</h4>
                    We've e-mailed you instructions of replacing your password.
                    <p>Please check your e-mails, if you don't see any new e-mails.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
