{% extends "base.html" %}

{% block title %}New password{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if validlink %}
        {% with error1=form.new_password1.errors error2=form.new_password2.errors %}
            <form class="form-horizontal" action="" method="POST">{% csrf_token %}
                <div class="control-group{% if error1 %} error{% endif %}">
                    <label class="control-label" for="id_new_password1">New password:</label>
                    <div class="controls">
                        {{ form.new_password1 }}
                        <span class="help-inline">{{ form.new_password1.errors }}</span>
                    </div>
                </div>
                <div class="control-group{% if error2 %} error{% endif %}">
                    <label class="control-label" for="id_new_password1">confirm password:</label>
                    <div class="controls">
                        {{ form.new_password2 }}
                        <span class="help-inline">{{ form.new_password2.errors }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn" type="submit">Change my password</button>
                    </div>
                </div>
            {% endwith %}
        </form>
    {% else %}
        <h1>A problem has occured when resetting your password!</h1>
        <p>Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
