<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password: email sent</title>
</head>
<body>
<div class="container-fluid">
    {% if validlink %}
        <form action="">{% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New pasword:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>

                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password1">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td><button type="submit">Change my password</button></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>A problem has occured when resetting your password!</h1>
        <p>Please request a new password reset.</p>
    {% endif %}
</div>
</body>
</html>
