{% extends "base.html" %}

{% block title%}Reset complete{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="alert alert-success span6 offset3">
                <div class="row-fluid">
                    <h4>Password reset complete</h4>
                    <p>Your pasword has been set. You may go ahead and log in now.</p>
                    <p><a href="{% url "login" %}">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
