<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register</title>

    <!-- Le styles -->
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url "create_account" %}"><img src="" alt="MyDict logo"></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="register_wraper">
    {% if error %}
      <p><strong>Login/email already exists.</strong></p>
    {% endif %}
    {% if user.is_authenticated %}
      Vous êtes connecté, {{ user.username }} !
    {% else %}
      <form class="form-signin" method="POST" action="{% url "create_account" %}">{% csrf_token %}
        <legend>Sign up to <span class="blue">MyDict</span></legend>
        <div class="body">
        {% for input in registerform %}
          {{ input }}
        {% endfor %}
        </div><!--div.body-->
        <div class="footer">
          <label class="checkbox inline">
              <input type="checkbox" id="inlineCheckbox1" value="remember_me"> Remember me
          </label>
          <button class="btn btn-primary" type="submit">Sign up</button>
        </div> <!-- div.footer -->
      </form>
    {% endif %}
    </div> <!-- div#login_wraper -->
  </div> <!-- /container -->
  <footer class="white navbar-fixed-bottom">
      You already have an account? <a href="{% url "login" %}" class="btn btn-black">Login</a>
  </footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
  jQuery(function($) {
/*          $(".modal .close").bind("click", function(){
          $(".modal-backdrop").fadeOut();
          return false;
      });*/
      $('.carousel').carousel({
        interval: 4000
      });
      $.backstretch([
        "{% static 'images/abstract1.jpg' %}",
        "{% static 'images/abstract2.jpg' %}",
        "{% static 'images/abstract3.jpg' %}",
        "{% static 'images/nature1.jpg' %}",
        "{% static 'images/nature2.jpg' %}",
        "{% static 'images/nature3.jpg' %}"
    ], {duration: 3000, fade: 750});
  });
</script>
</body>
</html>
