/* Override some defaults */
html, body {
    background-color: #eee;
}

#static_content {
    padding-top: 46px;
}

div.container-fluid {
    padding-top: 58px;
}

#sortTable tbody tr th {
    background-color: #d9edf7;
}

.badge-mini {
    position: relative;
    left: 0px;
    top: 2px;
    font-size: 11px;
    background-color: rgba(247, 123, 106, 0.7);
    z-index: 10000;
}

.badge-mini a {
    color: white;
}

.hide {
    display: none;
}
