{% extends "dydict/list_words.html" %}

{% block title %}Edit word{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <form class="well" method="POST" action="{% url "manage_word.views.editWords" %}">{% csrf_token %}
            <fieldset>
              <p>
                <table>
                {{ word_form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">Edit</button>
              </p>
            </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
{% endblock %}
{% block tpl_to_js %}
{% endblock %}
