<div class="well sidebar-nav span4 offset1">
  <ul class="nav nav-list">
    <li class="nav-header">Admin Menu</li>
    <li class="active"><a href="index"><i class="icon-home"></i> Dashboard</a></li>
    <li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
    <li><a href="#"><i class="icon-comment"></i> Comments <span class="badge badge-info">10</span></a></li>
    <li><a href="#"><i class="icon-user"></i> Members</a></li>
      <li class="divider"></li>
    <li><a href="#"><i class="icon-comment"></i> Report a problem</a></li>
    <li><a href="#"><i class="icon-share"></i> Logout</a></li>
  </ul>
</div>
