/* Override some defaults */
body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin legend {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}

.form-signin label {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: 300;
}

#login_wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  height: 310px;
  background: white;
  text-align: center;
}

#register_wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 45%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  height: 380px;
  background: white;
  text-align: center;
}

.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin .body {
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

/* line 106, ../sass/typica-login.scss */
.form-signin .footer {
  margin-top: 20px;
}
/* line 108, ../sass/typica-login.scss */
.form-signin .footer .checkbox.inline {
  display: inline;
}
/* line 110, ../sass/typica-login.scss */
.form-signin .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}
/* line 115, ../sass/typica-login.scss */
.form-signin .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

.non_visible {
    visibility: hidden;
}

footer {
  font-size: 16px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

footer.white {
  padding-top: 20px;
  height: 50px;
  background: white;
  text-align: center;
}

footer.navbar-fixed-bottom {
  font-size: 16px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

.btn-black{
  padding: 5px 20px;
  background-color: #222222;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: white;
}

.btn-black:hover {
  background: #333333;
  color: white;
}

.blue {
  color: blue;
}
