{% extends "dydict/list_words.html" %}
{% block title %}
  {% if form.initial.word %}
    {{ form.word.value|truncatechars:15 }}
  {% else %}
    New word
  {% endif %}
{% endblock %}
{% block content %}
<br />
<br />
<br />
<div class="row-fluid">
  {% include 'blocks/menu_side.html' %}
  <div class="span4">
    <div class="row-fluid">
      <form class="span12" method="POST" action="">
      {% csrf_token %}
      {% for field in form %}
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-error">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}
        <p>{{ field.label_tag }}{{ field }}</p>
      {% endfor %}
        <div class="row-fluid">
          <div class="btn-group span2">
            <input class="btn btn-warning" type="submit" value="{% if form.initial.word %}Modify{% else %}Create{% endif %}" />
            <a class="btn" href="{% url 'list' %}"><i class="icon-list"></i> Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="span1"></div>
</div>
{% endblock %}
