{% extends "dydict/list_words.html" %}
{% block title %}All words{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    {% include 'blocks/menu_side.html' %}
    <div class='span6'>
      <div id="accordion2" class="accordion">
      {% for object in object_list %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a style="display: inline-block;" class="accordion-toggle" href="#collapse{{ forloop.counter0|add:"1" }}" data-toggle="collapse" data-parent="#accordion2">
              {{ forloop.counter0|add:"1" }}: {{ object.word }}
            </a><a style="display: inline-block;" href="{{ object.get_absolute_url }}">  <i class="icon-eye-open"></i></a>
          </div>
          <div id="collapse{{ forloop.counter0|add:'1' }}" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
                <li class="word1">{{ object.definition }}</li>
                <li class="word2">{{ object.user_def }}</li>
                <li class="word3">{{ object.word_ref }}</li>
              </ul>
            </div>
          </div>
        </div>
      {% empty %}
        <h2>No words in your Dict</h2>
      {% endfor %}
      </div> <!--accordion-->
      <div class="span1"></div>
    </div><!-- -->
  </div><!-- .row-fluid -->
</div><!-- .container-fluid -->
{% endblock content %}
