{% extends "dydict/list_words.html" %}
{% block title %}{{ object.word|truncatechars:20 }}{% endblock %}
{% block content %}
<br />
<br />
<br />
<div class="row-fluid">
{% include 'blocks/menu_side.html' %}
  <div class="span4">
    <ul class="unstyled well row-fluid">
      <li class="info1"><span class="label label-info">Word</span> {{ object.word }}</li>
      <li class="info2"><span class="label label-info">Definition</span> {{ object.definition }}</li>
      <li class="info3"><span class="label label-info">Examples</span> {{ object.user_def }}</li>
      <li class="info4"><span class="label label-info">Word reference</span> {{ object.word_ref }}</li>
    </ul>
    {% include 'blocks/buttons_path.html' %}
  </div>
  <div class="span3"></div>
</div>
{% endblock %}
