{% extends "dydict/list_words.html" %}
{% block title %}All words{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    {% include 'blocks/menu_side.html' %}
    <div class='span6'>
      <div id="accordion2" class="accordion">
      {% for object in object_list %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a style="display: inline-block;" class="accordion-toggle btn" href="#collapse{{ forloop.counter0|add:"1" }}" data-toggle="collapse" data-parent="#accordion2">
              {{ object.word }} <i class="icon-arrow-down"></i>
            </a>
          </div>
          <div id="collapse{{ forloop.counter0|add:'1' }}" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="unstyled">
                <li class="word1"><span class="label label-info">Defintion</span> {{ object.definition }}</span></li>
                <li class="word2"><span class="label label-info">Examples</span> {{ object.user_def }}</li>
              </ul>
              <div class="btn-group">
                <a href="{{ object.get_absolute_url }}" class="btn btn-small"><i class="icon-plus"></i> Details</a>
                <a href="{% url 'update' pk=object.pk %}" class="btn btn-small"><i class="icon-pencil"></i> Modify</a>
                <a href="{% url 'delete' pk=object.pk %}" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i> delete</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
          <h2>No words in your Dict</h2>
        {% endfor %}
        <ul class="pager">
          <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
            <a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>&larr; Previous</a>
          </li>
          <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
            <a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next &rarr;</a>
          </li>
        </ul>
        <div>
          <a href="{% url 'create' %}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add a new word</a>
        </div>
      </div> <!--accordion-->
      <div class="span1"></div>
    </div><!-- -->
  </div><!-- .row-fluid -->
</div><!-- .container-fluid -->
{% endblock content %}
