<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Word list</title>
        <style>
        #left{
            float: left;
        }

        #right{
            float: right;
        }
        </style>
    </head>
    <body>

        <div id="left">
    <!-- ################################################### -->
    <!-- ############## Profile ############################ -->
    <!-- ################################################### -->
        <div id="profil">
        <h3>Hi {{ user_name }}</h3>
        </div>

    <!-- ################################################### -->
    <!-- ############# Enter word ########################## -->
    <!-- ################################################### -->
        <div id="research_word">
        <form method="POST" action="../show_words/">{% csrf_token %}
          <p>
            <table>
            {{  word_form.as_table }}
            </table>
            <input type="submit" value="save" />
          </p>
        </form>
        </div>
        </div>

        <div id="right">
    <!-- ################################################### -->
    <!-- ############# Recommended words ################### -->
    <!-- ################################################### -->
        <div id="recommanded" style="text-align: right">
        <form method="POST" action="../logout/">{% csrf_token %}
            <p>
                <input type="submit" value="logout" />
            </p>
        </form>
        </div>

    <!-- ################################################### -->
    <!-- ############# Known words ######################### -->
    <!-- ################################################### -->
        <div style="text-align: left;" id="knowledge">
        {% for word in words %}
        <p><strong>{{ word.word }}:</strong> {{ word.definition|truncatechars:60 }}</p>
        {% endfor %}
        </div>
        </div>

    </body>
</html>
