<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Word list{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'dydict.views.listWords' %}">Dictionary</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url 'dydict.views.listWords' %}"><i class="icon-home icon-white"></i>Home</a></li>
              <li><a href="{% url "dydict_about" %}"><i class="icon-qrcode icon-white"></i> About</a></li>
              <li><a href="#contact"><i class="icon-envelope icon-white"></i> Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>{{ user.username }}</strong><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-wrench"></i> Profil</a></li>
                  <li><a href="#"><i class="icon-thumbs-up"></i> Recommended articles</a></li>
                  <!--<li class="divider"></li>
                  <li class="nav-header">Nav header</li>-->
                  <li><a href="{% url "dydict_help" %}"><i class="icon-question-sign"></i> Help</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right" method="POST" action="{% url "dydict.views.user_logout" %}">{% csrf_token %}
              <button type="submit" class="btn btn-danger"><i class="icon-off icon-white"></i> Logout</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}
    <div class="container-fluid">
        <div class="hero-unit">
        </div>
        <div class="raw">
    <!-- ################################################### -->
    <!-- ############# Enter word ########################## -->
    <!-- ################################################### -->
        <div id="research_word" class="span5">
        <form method="POST" action="../show_words/" class="well">{% csrf_token %}
          <p>
            <table>
            {{  word_form.as_table }}
            </table>
            <input class="btn btn-primary btn-block" type="submit" value="save">
          </p>
        </form>
        </div>

    <!-- ############# Known words ######################### -->
        <div class="span5">
            {% if words %}
            <table class="table table-striped table-hover" id="sortTable">
                <thead>
                    <th class="blue">Word</th>
                    <th class="yellow">Definition</th>
                </thead>
                <tbody>
                {% for word in words %}
                    <tr><td>{{ word.word }}:</td><td>{{ word.definition|truncatechars:60 }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    <li class="disabled"><a href="">&laquo;</a></li>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">&raquo;</a></li>
                </ul>
            </div>
            {% else %}
            <h3>Let's get started!!</h3>
            {% endif %}
        </div><!--span5-->
        <div class="span4"></div>
    </div>
</div>
<!-- Modal -->
<!--<div class="modal-backdrop">
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Alert</h3>
        </div>
        <div class="modal-body">
            <p>Pay attention please</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn">Cancel</a>
            <a href="" class="btn primary">Ok</a>
        </div>
    </div>
</div>-->
    {% endblock %}
</body>
{% block scripts %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
  jQuery(function($) {
      $("table#sortTable").tablesorter({ sortList: [[1,0]] });
/*          $(".modal .close").bind("click", function(){
          $(".modal-backdrop").fadeOut();
          return false;
      });*/
      $('.carousel').carousel({
        interval: 5000
      })
  });
</script>
{% endblock %}
</html>
