<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login to MyDict</title>

    <!-- Le styles -->
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/x-icon" />
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url "dydict.views.user_login" %}"><img src="" alt="MyDict logo"></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="login_wraper">
    {% if error %}
      <p><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></p>
    {% endif %}
    {% if user.is_authenticated %}
      Vous êtes connecté, {{ user.username }} !
    {% else %}
      <form class="form-signin" method="POST" action="{% url "dydict.views.user_login" %}">{% csrf_token %}
        <legend>Sign in to <span class="blue">MyDict</span></legend>
        <div class="body">
        {% for input in loginform %}
          {{ input }}
        {% endfor %}
        </div><!-- div.body -->
        <div class="footer">
          <label class="checkbox inline">
              <input type="checkbox" id="inlineCheckbox1" value="remember_me"> Remember me
          </label>
          <button class="btn btn-primary" type="submit">Sign in</button>
        </div> <!-- div.footer -->
      </form>
    {% endif %}
    </div> <!-- div#login_wrapper -->
  </div> <!-- /container -->
  <footer class="white navbar-fixed-bottom">
      Don't have an account yet? <a href="{% url "dydict.views.createUser" %}" class="btn btn-black">Register</a>
  </footer>
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
  jQuery(function($) {
/*          $(".modal .close").bind("click", function(){
          $(".modal-backdrop").fadeOut();
          return false;
      });*/
      $('.carousel').carousel({
        interval: 4000
      });
      $.backstretch([
        "http://lorempixel.com/output/nature-q-c-804-480-1.jpg",
        "http://lorempixel.com/output/nature-q-g-804-480-9.jpg",
        "http://lorempixel.com/output/abstract-q-c-804-480-2.jpg",
        "http://lorempixel.com/output/abstract-q-c-804-480-8.jpg"
    ], {duration: 3000, fade: 750});
  });
</script>
</body>
</html>
