<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A word per day</title>

    <!-- Le styles -->
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Login</h2>
            <form class="well" method="POST" action="../login/">{% csrf_token %}
            <fieldset>
              <p>
                <table>
                {{ loginform.as_table }}
                </table>
                <br />
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button class="btn btn-primary" type="submit">login</button>
              </p>
            </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
